.card {
  background-color: rgba(115, 114, 168, 0.5);
  text-align: justify;
  margin-top: 10px;
  margin-left: 20px;
  padding: 10px;
  width: 70rem;
  box-shadow: 10px 0 10px 0 black;
}
.cardbutton {
  margin-left: 45%;
  border: 2px solid black;
}
.cardbutton:hover {
  background-color: orangered;
  color: aliceblue;
}
.EP-tittle {
  font-size: 30px;
}
.img1 {
  width: 200px;
  height: 200px;
}
