.Nav-bar {
  width: 480px;
  border-radius: 20px;
  /* text-align: center; */
}
ul {
  background: rgb(173, 173, 201);
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  position: relative;
  margin-right: -4px;
}
