.container {
  width: 100%;
}

.tittle {
  background-color: #283747;
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 20px;
}
.tittle:hover {
  background-color: #283747;
  transition: ease-in-out 0.5s;
  color: rgb(236, 9, 9);
}

.main {
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-top: 20px;
  margin-left: 5%;
}
img {
  margin-left: 25%;
  width: 600px;
  margin-bottom: 20px;
}
