.container {
  text-align: justify;
}
.cvoi {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
}
.para-cvoi {
  margin: 5px;
  line-height: 30px;
}
.boder {
  border: 1px solid black;
  margin-top: 5px;
}
