.container {
  width: 100%;
  font-size: 17px;
  font-family: Ubuntu;
}
.main {
  margin: 0;
  padding: 0;
  text-align: justify;
  margin-left: 5%;
  margin-top: 10px;
}
.tittle {
  /* background-color: #283747; */
  text-align: center;
  padding: 5px;
  color: #fff;
  border-radius: 10px;
  font-weight: 500;
  margin-bottom: 10px;
}
.owner {
  text-indent: 200px;
  margin-top: 10px;
}
.headings {
  background-color: #283747;
  color: aliceblue;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.headings:hover {
  background-color: #283747;
  transition: ease-in-out 0.5s;
  color: orangered;
}
